<div *ngIf="weatherData" style="display: grid; grid-template-columns: 1fr 1fr; align-items: center;">
  <div style="grid-column: 1; text-align: center;">
    <h2>{{ city }}</h2>
    <img [src]="getWeatherIcon(weatherData['weather'][0]['icon'])" alt="Weather Icon" style="width: 150px; height: 150px;">
  </div>
  <div style="grid-column: 2;">
    <p>Temperature: {{ convertTemperatureToCelsius(weatherData['temp']) }}°C</p>
    <p>Feels Like: {{ weatherData['feels_like'] }}°C</p>
    <p>Humidity: {{ weatherData['humidity']}}%</p>
    <p>Description: {{ weatherData['weather'][0]['description']}}</p>  
    <button (click)="refreshWeather()">Refresh</button>
  </div>
</div>

<div *ngIf="hourlyForecast">
  <h3>Hourly Forecast for the next 24 hours</h3>
  <div style="display: flex; overflow-x: auto;">
    <div *ngFor="let forecast of hourlyForecast">
      <div style="margin-right: 20px;">
        <p>{{ getTimeFromTimestamp(forecast.dt) }}</p>
        <img [src]="getWeatherIcon(forecast['weather'][0]['icon'])" alt="Weather Icon">
        <p>{{ convertTemperatureToCelsius(forecast.temp) }}°C</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="fiveDayForecast">
  <h3>5-Day Forecast</h3>
  <div *ngFor="let forecast of fiveDayForecast">
    <img [src]="getWeatherIcon(forecast['weather'][0]['icon'])" alt="Weather Icon">
    {{ getDateFromTimestamp(forecast.dt) }},    {{  convertTemperatureToCelsius(forecast.temp.day) }}°C, {{ forecast.weather[0].description }}
  </div>
</div>